<!-- BEGIN: main -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<div class="row mb-4">
    <div id="mess">

    </div>
    <ul class="nav nav-tabs">
        <li><a href="#chitietduan" data-toggle="tab" class="active">Chi Tiết Dự Án</a></li>
        <li><a href="#thongtinquyengop" data-toggle="tab">Thông Tin Quyên Góp Của Dự Án</a></li>
        <li><a href="#lichsugiaodich" data-toggle="tab">Lịch Sử Quyên Góp</a></li>
    </ul>
    <input type="text" hidden id="id_du_an" value="{V.id}">
    <div class="tab-content">
        <div class="tab-pane active" id="chitietduan">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div id="cauchuyen mb-2">
                        {V.ten_du_an}
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col" style="margin-top: 5px;">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <!-- BEGIN: list_anh -->
                                <div class="{ACTIVE}">
                                    <img src="{ANH}" style="max-height: 300px; max-width: 2000px;">
                                </div>
                                <!-- END: list_anh -->
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col">
                        {V.mo_ta_chi_tiet}
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <div style="margin-top: 20px;">
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#donate">Quyên Góp</button>
                    </div>
                </div>
                <div id="donate" class="modal fade" role="dialog">
                    <div class="modal-dialog ">
                        <div class="modal-content">
                            <div class="modal-header bg-primary">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Xác Nhận Quyên Góp</h4>
                            </div>
                            <div class="modal-body">
                                <div style="margin: 5px;">
                                    <p>Vui lòng nhập Tên , Email của bạn để chúng tôi có thể gởi lời cảm ơn đến lòng hảo tâm của bạn !</p>
                                </div>
                                <div class="form-group">
                                    <label>Họ Và Tên <b class="text-danger">*</b></label>
                                    <input {DISABLED} type="text" value="{NAME}" required name="full_name" id="full_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email <b class="text-danger">*</b></label>
                                    <input {DISABLED} type="email" value="{EMAIL}" name="email" id="email" required class="form-control">
                                </div>
                                <div id="donate-button-container">
                                    <div id="donate-button"></div>
                                    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
                                    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
                                    <script>
                                        PayPal.Donation.Button({
                                            env:'sandbox',
                                            hosted_button_id:'{V.ma_du_an}',
                                            image: {
                                                src:'https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif',
                                                alt:'Donate with PayPal button',
                                                title:'PayPal - The safer, easier way to pay online!',
                                            },
                                            onComplete: function (params) {
                                                var payload = new FormData();
                                                payload.append('transaction_id' , params.tx); 
                                                payload.append('so_tien_quyen_gop' , params.amt);
                                                payload.append('ma_du_an' , params.item_name);
                                                payload.append('email_quyen_gop' , $("#email").val());
                                                payload.append('id_du_an' , $("#id_du_an").val());
                                                payload.append('full_name' , $("#full_name").val());
                                                $.ajax({
                                                    url: script_name + '?' + nv_name_variable + '=' + nv_module_name + '&' + nv_fc_variable + '=chitietduan&paymentId=1', 
                                                    type        : 'post',
                                                    data        : payload, 
                                                    dataType    : 'json',
                                                    cache       : false,
                                                    contentType : false,
                                                    processData : false,
                                                    success: function(res){
                                                        if(res.status) {
                                                            $("#mess").html(res.mess);
                                                            $('#donate').modal('hide');
                                                        }
                                                    }
                                                });
                                            },
                                        }).render('#donate-button');
                                    </script>
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                <a href="https://www.sandbox.paypal.com/donate?campaign_id={V.ma_du_an}" class="btn btn-success" >Tiếp Tục</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="lichsugiaodich">
            <div class="col" style="margin-top: 20px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div id="cauchuyen mb-2">
                            {V.mo_ta_ngan}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="thongbaoruttien mt-3">
                            <div class="table-responsive">
                                <table id="table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-nowrap">STT</th>
                                            <th class="text-center text-nowrap">Người quyên góp</th>
                                            <th class="text-center text-nowrap">Số tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                         <tr>
                                            <th class="text-center text-nowrap">1</th>
                                            <td class="text-nowrap">{LICH_SU.full_name}</td>
                                            <td class="text-right text-nowrap">{LICH_SU.tong_tien} đ</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="thongtinquyengop">
            <div class="col" style="margin-top: 20px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div id="cauchuyen mb-2">
                            {V.mo_ta_ngan}
                        </div>
                    </div>
                    <div class="panel-body">
                        <div id="thongbaoruttien mt-3">
                            <div class="table-responsive">
                                <table id="table" class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-nowrap">STT</th>
                                            <th class="text-center text-nowrap">Người quyên góp</th>
                                            <th class="text-center text-nowrap">Số tiền</th>
                                            <th class="text-center text-nowrap">Ngày giờ quyên góp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- BEGIN: list_quyen_gop-->
                                        <tr>
                                            <th class="text-center text-nowrap">{KEY}</th>
                                            <td class="text-center text-nowrap">{VALUE.full_name}</td>
                                            <td class="text-center text-nowrap">{VALUE.so_tien_quyen_gop} $</td>
                                            <td class="text-center text-nowrap">{VALUE.ngay_quyen_gop}</td>
                                        </tr>
                                        <!-- END: list_quyen_gop -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    });
</script>
<!-- END: main -->