<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header bg-primary">
                Thông tin tài khoản
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Tài khoản:</th>
                            <th>Oooooo</th>
                        </tr>
                        <tr>
                            <th>Mật khẩu:</th>
                            <th>123123</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>'